In [9]:
import pandas
import numpy as np
ary1 = np.arange(0,20).reshape(5,4)
ary1

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [13]:
df=pd.DataFrame(data=np.arange(0,20).reshape(5,4),
                index=["Row1","Row2","Row3","Row4","Row5"],
                columns=["Column1","Column2","Column3","Columns4"])
df.head()

      Column1  Column2  Column3  Columns4
Row1        0        1        2         3
Row2        4        5        6         7
Row3        8        9       10        11
Row4       12       13       14        15
Row5       16       17       18        19